article{
    margin: 35px;
    padding: 40px 40px 100px 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 550px;
    border: 10px ridge orange;
    background-image: linear-gradient(to right bottom, pink, yellow, pink);
}

.info{
    display: flex;
}

article:hover{
    background-image: linear-gradient(to left bottom, yellow, pink, yellow);
    transition: all 10s linear;
}
footer{
    background-image: linear-gradient(to left bottom, yellow, pink, yellow);
    border: 3px solid orange;
}
body{
    text-align: center;
    background-image: linear-gradient(to right, orange, white, yellow);
}

h2{
    text-align: left;
    background-image: linear-gradient(to left top, purple, pink, purple);
    width: 120px;
    border-radius: 15px;
    padding: 5px;
}
